* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: #F2F4F7;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin: 0 auto;
    padding:10px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, red 0%, rgba(7,6,95,1) 21%, rgba(9,18,121,1) 34%, rgba(0,212,255,1) 100%);
    z-index:  10000;
    text-align: center;
}

.logo h1{
    position: fixed;
    top: 10px;
    padding: 0 0 0 10px;

}

.logo a h1{
    color: white;
    left: 40px;
}

.logo img{
    width: 50px;
    height: 64px;
    position: fixed;
    left: 0px;
    top: 0px;
}
.menu-container {
    position: absolute;
    top: 60px; 
    left: 0;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 1000px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 15px;
    z-index: 2000;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
}

.menu-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.menu-child a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.menu-child:hover {
    background-color: #f0f0f0;
}

.menu-child img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.menu-child h4 {
    margin-left: 10px;
    color: #333;
}


.nav{
    position: relative;
    position: fixed;
    display: flex;
    left: 330px;
    align-items: center;
    justify-content: center;
    border:  solid rgba(0, 213, 255, 0.152);
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    background-color: rgba(0, 213, 255, 0.66);
    z-index: 1002px;
}

.nav:hover{
    background-color:rgba(0,212,255,1) ;
}

.nav:hover .menu-container {
    display: grid; 
    opacity: 1;
    visibility: visible;
}

.nav span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.nav .icon{
    font-size: 18px;
    border: 2px solid white;
    border-radius: 20%;
    margin-right: 5px;
}

.menu-search {
    width: 400px;
    height: 40px;
    position: fixed;
    background: white;
    border: 2px solid white;
    border-radius: 10px;
    left: 480px;
    top: 12px;
    display: flex;
    align-items: center;
}

.menu-input-search {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
}

.menu-search i {
    font-size: 20px;
    color: #999;
    margin-left: 10px; 
}

.menu-search span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; 
}

.menu-search span i {
    font-size: 20px;
    color: #999;
}


.menu-search span i {
    background: #d8d9db;
    border: solid #d8d9db;
    border-radius: 0 10px 10px 0;
    position: absolute;
    height: 40px;
    width: 60px; 
    left: 360px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-menu{
    position: fixed;
    display: flex;
    gap: 35px;
    right: 10px;
    list-style: none;
    color: white;
    cursor: pointer;
    top: 5px;
}

.list-menu li{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.list-menu i{
    font-size: 30px;
}

.list-menu li:hover{
    background:  rgba(255, 255, 255, 0.201);
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding-top: 70px;   
}

.slide-show {
    width: 80%;      
    height: 200px;      
    overflow: hidden;  
    z-index: 0px;
    pointer-events: none;
}

.list-images {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.list-images img {
    object-fit: cover;  
    display: block;
    width: 100%;        
    height: 100%;  
}

.sale-container-1{
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 550px;
}
.sale-card-container{
    margin-top: 50px;
    height: 400px;
    width: 1100px;
}
.sale-slide-show{
    position: relative;
    height: 400px;
    left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.swiper-wrapper{
}
.sp-card{
    border: 3px #f6f7f8 solid;
    padding: 10px;
    border-radius: 16px;
    scale: 0.85;
}
.sp-card:hover{
    border: 3px #4c46ef solid;
    transition: 0.3s linear;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sp-card .sp-card-link{
    text-decoration: none;
}
.sp-card .sp-card-link img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 12px;
}
.tag-group{
    display: flex;
}
.sp-card .sp-card-link .tag{
    position: relative;
    color: #f08152;
    left: 5px;
    top: 5px;
    width: fit-content;
    background: #ffeadd;
    padding: 4px 8px ;
    border-radius: 50px;
    margin-right: 5px ;
    font-size: 10px;
}
.sp-card .sp-info{
    position: relative;
    font-size: 8px;
    top:  12px;
    right: 0;
}
.card-container{
    display: grid;
    grid-template-columns: 70% 30%;
}
.sp-info i{
    font-size: 20px;
}
.sp-card a li{
    color: gray;
}

.sp-card a:hover li{
    color: gray;
}
.sp-card .green{
    color: #34ce57;
}

.sp-card a .blue {
    color: #4da1fb;
}

.sp-card a .red{
    color: #f80808;
}
.sp-card a:hover .blue{
    color: #073cee;
}
.sp-card a:hover .red{
    color: #f80808;
}

.sp-card-link:hover img{
    scale: 1.1;
}
.sp-card s{
    font-size: 10px;
}
.green{
    font-size: 10px;
}
.giaHientai{
    color: black;
    font-size: 16px;
}
.giaDaGiam{
    font-size: 10px;
}
.swiper{
    height: auto;
    width: auto;
}

.footer-container{
    border: 1px solid black;
    margin-top: 20px;
    background: linear-gradient(90deg, black 0%, rgba(7,6,95,1) 21%, rgba(9,18,121,1) 34%, rgba(0,212,255,1) 100%);
    padding: 20px 50px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    
}

.footer-contact h4{
    margin-bottom: 30px;
    font-weight: 500;
}

.footer-contact a{
    text-decoration: none;
}

.footer-text h4{
    margin-bottom: 30px;
    font-weight: 500;
}

.footer-text p:hover{
    color: #2E7EEA ;
    cursor: pointer;
}

.footer-different h4{
    margin-bottom: 30px;
    font-weight: 500;
}

.footer-different p:hover{
    color: #2E7EEA ;
    cursor: pointer;
}

.footer-social h4{
    margin-bottom: 30px;
    font-weight: 500;
}

.footer-social .footer-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-social .footer-icon a i{
    font-size: 30px;
    color: white;
}

.footer-social .footer-icon a i:hover{
    color: rgba(9,18,121,1) ;
}

.footer-contact .footer-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.footer-contact .footer-img a img{
    width: 70px;
}

.footer-social .footer-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer-img span{
    border: 1px solid white;
    padding: 4px;
    border-radius: 10px;
    width: max-content;
    margin: auto;
}

.footer-bottom{
    background: #F2F4F7;
    border: 1px solid black;
    padding: 20px;
}

.footer-bottom .footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
}

.footer-bottom .footer-text h5:hover{
    color: #2E7EEA;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .menu {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .logo img{
        width:40px;
    }
    .logo h1{
        font-size: 30px;
        margin-left: -10px;
    }
    .nav{
        left: 250px;
    }
    .menu-container {
        display: grid;
        width: 700px;
        grid-template-columns: repeat(4, 1fr);
    }
    .menu-search {
        width: 20%;
        left: 380px;
        top: 12px;
    }
    .menu-search span {
        margin-left: auto; 
    }
    .menu-search span i{
        width: 50px;
        left: auto;
    }
    .list-menu{
        margin-right: -10px;
        gap: 2px;
        top: 12px;
    }
    .list-menu li{
        font-size: 14px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    .list-menu li:hover{
        background:  rgba(255, 255, 255, 0.201);
        border-radius: 10px;
    }

    .menu-icon{
        display: none;  
    }
    .footer-container{
        border: 1px solid black;
        margin-top: 20px;
        background: linear-gradient(90deg, black 0%, rgba(7,6,95,1) 21%, rgba(9,18,121,1) 34%, rgba(0,212,255,1) 100%);
        padding: 20px;
        color: white;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        
    }
}

@media screen and (max-width: 480px){
    .menu {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    .logo img{
        width:50px;
    }
    .logo h1{
        display: none;
    }
    .nav{
        left: 60px;
    }
    .menu-container {
        display: grid;
        width: 400px;
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-search {
        width: 30%;
        left: 190px;
        top: 12px;
    }
    .menu-search span {
        margin-left: auto; 
    }
    .menu-search span i{
        width: 30px;
        left: auto;
    }
    .list-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .list-menu li {
        display: none;  
    }
    .list-menu li:last-child {
        font-size: 16px;
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }
    main{
        display: flex;
        justify-content: center; 
        align-items: center;     
    }
    .slide-show {
        width: 80%;      
        height: 200px;      
        overflow: hidden;  
        pointer-events: none;
    }
    .list-images {
        display: flex;
        transition: transform 0.5s ease-in-out; 
    }
    .list-images img {
        object-fit: cover;  
        display: block;
        width: 100%;        
        height: 100%;  
    }
    .footer-container {
        display: flex; 
        justify-content: space-between;
        align-items: center; 
        flex-wrap: wrap; 
        padding: 10px; 
    }

    .footer-text {
        text-align: left; 
        width: 45%; 
    }

    .footer-different {
        text-align: right; 
        width: 45%; 
    }

    
    .footer-contact,
    .footer-social {
        width: 100%; 
        margin-bottom: 15px; 
    }

    .footer-bottom {
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-bottom .footer-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .footer-social .footer-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        margin-bottom: 10px;
    }

    .footer-img {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-img a img {
        width: 50px;
    }

    .footer-text, .footer-different {
        text-align: left; 
    }
    
}