* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F2F4F7;
    font-family: "Ysabeau", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.menu{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin: 0 auto;
    padding:10px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, black 0%, rgba(7,6,95,1) 21%, rgba(9,18,121,1) 34%, rgba(0,212,255,1) 100%);
    z-index:  1000px;
    text-align: center;
}

.logo h1{
    position: fixed;
    top: 10px;
    padding: 0 0 0 10px;

}

.logo a h1{
    color: white;
    left: 48px;
}

.logo img{
    width: 50px;
    height: 64px;
    position: fixed;
    left: 0px;
    top: 0px;
}
.menu-container {
    position: absolute;
    top: 60px; 
    left: 0;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 1000px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 15px;
    z-index: 2000;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
}

.menu-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.menu-child a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.menu-child:hover {
    background-color: #f0f0f0;
}

.menu-child img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.menu-child h4 {
    margin-left: 10px;
    color: #333;
}


.nav{
    position: relative;
    position: fixed;
    display: flex;
    left: 330px;
    align-items: center;
    justify-content: center;
    border:  solid rgba(0, 213, 255, 0.152);
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    background-color: rgba(0, 213, 255, 0.66);
    z-index: 1002px;
}

.nav:hover{
    background-color:rgba(0,212,255,1) ;
}

.nav:hover .menu-container {
    display: grid; 
    opacity: 1;
    visibility: visible;
}

.nav span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.nav .icon{
    font-size: 18px;
    border: 2px solid white;
    border-radius: 20%;
    margin-right: 5px;
}

.menu-search {
    width: 400px;
    height: 40px;
    position: fixed;
    background: white;
    border: 2px solid white;
    border-radius: 10px;
    left: 480px;
    top: 12px;
    display: flex;
    align-items: center;
}

.menu-input-search {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
}

.menu-search i {
    font-size: 20px;
    color: #999;
    margin-left: 10px; 
}

.menu-search span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; 
}

.menu-search span i {
    font-size: 20px;
    color: #999;
}


.menu-search span i {
    background: #d8d9db;
    border: solid #d8d9db;
    border-radius: 0 10px 10px 0;
    position: absolute;
    height: 40px;
    width: 60px; 
    left: 360px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-menu{
    position: fixed;
    display: flex;
    gap: 35px;
    right: 10px;
    list-style: none;
    color: white;
    cursor: pointer;
    top: 5px;
}

.list-menu li{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.list-menu i{
    font-size: 30px;
}

.list-menu li:hover{
    background:  rgba(255, 255, 255, 0.201);
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding-top: 70px;   
}

.slide-show {
    width: 80%;      
    height: 200px;      
    overflow: hidden;  
    z-index: 0px;
    pointer-events: none;
}

.list-images {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.list-images img {
    object-fit: cover;  
    display: block;
    width: 100%;        
    height: 100%;  
}