.body{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: 100% auto;
}
.bigbox {
    text-align: center;
}
.con1{
    color: white;
    padding-top: 10px;
    width: 100%;
    height: 72%;
}
.cha{
    background-color: rgba(0, 0, 0, 0.75);
    border: 20px;
    border-radius: 5%;
    width: 30%;
}
.dangki{
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.logo{
    text-align: center;
    user-select: none;
    cursor: pointer;
    color:blue;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.75);
    width: 160px;
    height: 48px;
    padding-top: 5px ;
}

.hoac{
    flex: 1;
    border: none;
    border-top: 1px solid #ddd;
}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #fff;
    
}

.divider hr {
    flex: 1;
    border: none;
    border-top: 2px solid #fff;
    opacity: 1; 
    margin: 0 10px;
}

.divider span {
    white-space: nowrap; 
    font-size: 16px;
    letter-spacing: 1px;
}

.container{
    width: 680px;
    padding: 5% 0;
}

.nhapdulieu{
    position: relative;
    height: 40px;
    line-height: 40px;
}
input{
    position: absolute;
    left: 20%;
    width: 60%;
    outline: none;
    padding: 0 30px;
    border-radius: 10px;
    border: 2px solid #f0ffff;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1000;
    background-color: black;
    opacity: 1;
}
.labelline{
    position:absolute;
    left: 20%;
    font-size: 1em;
    color: #f0ffff;
    margin: 0 20px;
    background-color: black;
    border-radius: 12px;
    transition: 0.2s ease;
    z-index: 1000;
    height: 0;
}

input:focus, input:valid{
    left: 20%;
    color: #ffffff;
    border: 3px solid #66ff00;
}
input:focus + .labelline,
input:valid + .labelline{
    left: 20%;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px,-16px) scale(0.88);
    z-index: 1000;
}
.nutdangki{
    background-color: gray;
    transition:  ease 0.3s;
    font-weight: bolder;
}
.nutdangki:hover{
    background-color: #FFE61A;
}
.nutdangkicha{
    position: relative;
    left: 30%;
    width: 40%;
    padding: 20px;
    padding-left: 0px;
    height: 64px;
    margin-bottom: 32px;
}
@media only screen and (max-width: 46.1875em) {
    .cha{
        width: 100%;
    }
    .nutdangkicha{
        width: 70%;
        margin-left: 15%;
    }
    .body{
        background-size: cover;
    }
}

@media only screen and (min-width: 768px) and (max-width : 1024px) {
    .cha{
        width: 50%;
    }
}
