*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Ysabeau", sans-serif;
}

html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

/* ---------------------------------- Dinh dang lai the ------------------------------------ */

.tagh1{
    font-weight: 700;
    font-size: 30px;
}

.tagh2{
    font-weight: 700;
    font-size: 20px;
}

.taga{
    text-decoration: none;
    color: black;
}

ul li{
    color:white;
    list-style-type: none;
}

/* ----------------------------------------------------------------------------------------- */

/* ----------------------------------- header -------------------------- */

.menu{
    position: fixed;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin: 0 auto;
    padding:10px;
    width: 100%;
    background: rgb(3,25,48);
    background: linear-gradient(90deg, rgb(12, 17, 229) 0%, rgb(10, 17, 246) 10%, rgb(15, 60, 241) 29%, rgb(18, 88, 238) 52%, rgba(54,132,219,1) 93%);
    z-index:  10000;
    text-align: center;
    top: 0;
    transition: transform 0.45s ease;
}

.logo h3{
    position: fixed;
    top: 16px;
    left: 0;
    color: white;
    left: 40px;
}
.logo img{
    width: auto;
    height: 64px;
    position: fixed;
    left: 275px;
    top: 0;
    scale: 1.5;
}
.menu-container {
    position: absolute;
    top: 55px;
    left: 0;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    z-index: 2000;
    visibility: hidden;
    opacity: 0;
    transition: 0.15s linear;
}

.menu-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.menu-child a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.menu-child:hover {
    background-color: #f0f0f0;
}

.menu-child img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.menu-child h4 {
    margin-left: 10px;
    color: #333;
}


.nav{
    position: fixed;
    display: flex;
    left: 380px;
    align-items: center;
    justify-content: center;
    border:  solid rgba(0, 213, 255, 0.152);
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    background-color: rgb(253, 145, 4);
    z-index: 1002;

}

.nav:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 2px;
}

.nav:hover .menu-container {
    display: grid; 
    opacity: 1;
    visibility: visible;
    transition: 0.15s linear;
}

.nav span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.nav .icon{
    font-size: 18px;
    border-radius: 20%;
    margin-right: 5px;
}

input.menu-input-search:not(:placeholder-shown) {
    transform: translateX(10px); 
}

.menu-search {
    min-width: 300px;
    width: 650px;
    max-width: 40%;
    height: 40px;
    position: fixed;
    background: white;
    border: 2px solid white;
    border-radius: 20px;
    left: 550px;
    top: 12px;
    display: flex;
    align-items: center;
}

.menu-input-search {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1em;
}

.menu-search i {
    font-size: 20px;
    color: #999;
    margin-left: 10px; 
}

.menu-search span {
    display: flex;
    align-items: center;
    justify-content: center;
    left: auto; 
    font-size: 20px;
    color: #999;
}

.menu-search span i {
    background: #d8d9db;
    border: solid #d8d9db;
    border-radius: 0 20px 20px 0;
    position: absolute;
    height: 40px;
    width: 60px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-menu{
    position: absolute;
    display: flex;
    gap: 5px;
    margin-right: min(64px, 100px);
    right: 48px;
    list-style: none;
    color: white;
    cursor: pointer;
    top: 5px;
}

.list-menu li{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.list-menu i{
    font-size: 36px;
}

.list-menu li:hover{
    background:  rgba(255, 255, 255, 0.201);
    border-radius: 30px;
}

/* --------------------------------------------------------- */

.cart__layout{
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgba(220,220,220,0.4);
    padding: 20vh 0;
}

.cart__wrapper{
    margin: auto;
    max-width: 70vw;
    width: 100%;
    min-height: 50vh;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}

.container-fluid{
    width: 100%;
    height: 100%;
}

/* --------------------------------------  Cac san pham ----------------------------------------- */

.thing__item{
    display: grid;
    grid-template-columns: 1.5fr 8fr 2.5fr;
}

.thing__item--content a{
    font-weight: bolder;
}

.thing__item--img{
    width: 70px;
    height: 70px;
    border-style: groove;
    border-radius: 5px;
    border-width: 1.5px;
    overflow: hidden;
}

.thing__item--price{
    text-align: center;
}

.changenumber{
    display:flex;
    justify-content: center;
    margin-top: 5px;
}

.change__button{
    margin: auto;
    width: 30px;
    height: 30px;
    font-size: larger;
    font-weight: bolder;
    border-radius: 100%;
    background-color: #3684db;
    color: white;
    border-style: none;
}

.changenumber input{
    width: 30px;
    border-style: none;
    text-align: center;
}

/* ---------------------------------------------------------------------------------------------- */

/* --------------------------------------- Tong ket don hang ---------------------------------------- */

.total{
    display: flex;
}

.total__voucher{
    width: 70em;
}

.total__voucher input{
    width:300px;
    height:50px;
    padding: 10px;
    margin: 5px;
    border-radius: 40px;
}

.total__voucher button{
    margin: 5px;
    width:100px;
    height:50px;
    text-align: center;
    border-style: none;
    border-radius: 20px;
    color: white;
    background-color: red;
}

.total__price{
    width: 30em;
    padding: auto;
}

/* -------------------------------------------------------------------------------------------------- */

/* --------------------------------------- thanh toan ---------------------------------------- */

.payments{
    padding:5px;
    margin:5px;
    display:flex;
    justify-content: center;
}

.button__left{
    width: 50em;
    height:50px;
    margin:10px;
    border-style: none;
    border-radius: 20px;
    color: white;
}

.button__right{
    width:50em;
    height:50px;
    margin:10px;
    border-style: none;
    border-radius: 20px;
    color: white;
}

/* ------------------------------------------------------------------------------------------- */

/* --------------------------------------- thong tin khach hang ---------------------------------------- */

.form__item{
    margin-top: 20px;
    margin-bottom: 20px;
}

.tagh2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.butsubmit{
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.button__submit{
    width: 30em;
    height: 50px;
}

/* ----------------------------------------------------------------------------------------------------- */


/* --------------------------------------- footer ---------------------------------------- */

footer{
    min-height: 25vh;
    padding-top: 20px;
}

footer p{
    color:white;
    font-size: 20px;
    text-align: center;
}

footer a{
    color: white;
    font-size: 30px;
}

footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #223a59;
}

.footer__left ul{
    display: flex;
    justify-content: space-evenly;
}

.footer__right{
    align-items: center;
}

.footer__right--voucher{
    text-align: center;
}

.footer__right--voucher input{
    width: 300px;
    height: 50px;
    border-radius: 5px;
}

.footer__right--voucher button{
    height: 50px;
    transform: translateY(3px);
}

/* ----------------------------------------------------------------------------------------------------- */